<nav id="navbar-example2" class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Open Virtual Desktop</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#docs">Documents</a>
    </li>
  </ul>
</nav>
<div class="content" data-spy="scroll" data-target="#navbar-example2" data-offset="0" >
  <div class="jumbotron">
    <h1 id="about">About</h1>
    <p>
      Open Virtual Desktop (OVD) is a web app acting as a portal by which users may
      access virtual machines.  It integrates with <a 
      href="https://guacamole.apache.org/">Apache Guacamole</a>, a "clientless 
      remote desktop gateway."  This project focuses on the needs of the <a 
      href="cs.siu.edu">CS department</a>
      at SIU.  The goal is to allow students and teachers remote access to a 
      similar environment as that which they may find in campus computer lab 
      settings and to allow the administrators of the system ease in managing the 
      virtualized machines.
    </p>
    <h2>Features</h2>
    <h3>For students and teachers</h3>
    <ul>
      <li>Connects students and teachers to custom virtual machines</li>
      <li>Single sign on with university credentials</li>
    </ul>
    <h3>For administrators</h3>
    <ul>
      <li>Provides a look into system performance and status</li>
      <li>Allows easy management of users in groups</li>
      <li>Automates admin workflows</li>
    </ul>

    <h2>Client</h2>
    <h3>Michael Bardkoll</h3>

    <a href="www.github.com/mrbeussink/ovd" class="btn btn-info btn-large btn-block">Check the repository on <i class="fab fa-github"></i></a>
  </div>
  <div class="jumbotron">
    <h1 id="team">Team</h1>
    <div class="cards">

      <div class="card text-white bg-primary mb-3">
        <img src="../assets/pics/mark.JPG" class="card-img-top" alt="Mark's portrait">
        <div class="card-body">
          <h5 class="card-title">Mark Beussink</h5>
          <h6 class="card-subtitle mb-2 text-muted">Full Stack Dev | Design Guru</h6>
          <p class="card-text">Mark is interested in full stack development as 
            well as iOS and has a blossoming interest in cryptography. He is 
            passionate about tackling problems with ingenious solutions and 
            producing products that have a meaningful impact on everday lives. 
            Pyro and Roy main.</p>
          <a href="mailto:mrbeussink@siu.edu" class="btn btn-primary">Email</a>
        </div>
      </div>
      <div class="card text-white bg-primary mb-3">
          <img src="../assets/pics/ej.JPG" class="card-img-top" alt="Edwards's portrait">
          <div class="card-body">
            <h5 class="card-title">EJ Byrne</h5>
            <h6 class="card-subtitle mb-2 text-muted">Full Stack Dev | Front End Guru</h6>
            <p class="card-text">Edward is fascinated with web and mobile dev 
              with a side interest in data manipulation. When he isn't working 
              on testing different programs, he can be found messing with his 
              mini home lab breaking it more than not.</p>
            <a href="mailto:brynee@siu.edu" class="btn btn-primary">Email</a>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3">
            <img src="../assets/pics/andy.JPG" class="card-img-top" alt="Andrew's portrait">
            <div class="card-body">
              <h5 class="card-title">Andrew Cowden</h5>
              <h6 class="card-subtitle mb-2 text-muted">Back End Dev | Server Wizard</h6>
              <p class="card-text">Andrew has a love for technology and tackles every project with enthusiasm and pride.
                 He thrives in back end dev but is eager to learn as much as he 
                 can about full stack dev. He enjoys listening to music, hiking 
                 in the great outdoors, and 3D printing.</p>
              <a href="mailto:am.cowden@gmail.com" class="btn btn-primary">Email</a>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3">
              <img src="../assets/pics/justin.JPG" class="card-img-top" alt="Justin's portrait">
              <div class="card-body">
                <h5 class="card-title">Justin Sieling</h5>
                <h6 class="card-subtitle mb-2 text-muted">Team Lead | Full Stack Dev</h6>
                <p class="card-text">Justin is interested in computer security, 
                  web dev, and software engineering. When not working on 
                  schoolwork, projects, or work he can be found playing 
                  racquetball or video games or snuggling with his cat.</p>
                <a href="mailto:jmsieling@siu.edu" class="btn btn-primary">Email</a>
              </div>
            </div>
    </div>
  </div>
  <div class="container">
    <h1 id="docs">Documents</h1>
    <p>...</p>
  </div>
</div>