<nav id="navbar-example2" class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Open Virtual Desktop</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#docs">Documents</a>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <div class="container">
    <h1 id="about">About</h1>
    <p>Open Virtual Desktop (OVD) is a single page application which allows user to remotely access virtual machines via their web browser. It is powered by Apache Guacamole which broadcasts the virtual machine's desktop to the browser.
      OVD allows students to use the same desktop enviroments they do in the lab from home or anywhere else. </p>
  </div>
  <div class="container">
    <h1 id="team">Team</h1>
    <p>...</p>
  </div>
  <div class="container">
    <h1 id="docs">Documents</h1>
    <p>...</p>
  </div>
</div>