<nav class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Open Virtual Desktop</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link bg-light" [ngx-scroll-to]="'#about'" ngx-scroll-to-offset='-69'>About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-light ml-1" [ngx-scroll-to]="'#docs'" ngx-scroll-to-offset='-69'>Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-light ml-1" [ngx-scroll-to]="'#team'" ngx-scroll-to-offset='-69'>Team</a>
    </li>
  </ul>
</nav>
