<div class="container" data-spy="scroll" data-target="#navbar-example2" data-offset="0" >
  <div>
    <h1 id="about">About</h1>
    <p>
      Open Virtual Desktop (OVD) is a web app acting as a portal by which users may
      access virtual machines.  It integrates with <a 
      href="https://guacamole.apache.org/">Apache Guacamole</a>, a "clientless 
      remote desktop gateway."  This project focuses on the needs of the <a 
      href="cs.siu.edu">CS department</a>
      at SIU.  The goal is to allow students and teachers remote access to a 
      similar environment as that which they may find in campus computer lab 
      settings and to allow the administrators of the system ease in managing the 
      virtualized machines.
    </p>
    <h2>Features</h2>
    <h3>For students and teachers</h3>
    <ul>
      <li>Connects students and teachers to custom virtual machines</li>
      <li>Single sign on with university credentials</li>
    </ul>
    <h3>For administrators</h3>
    <ul>
      <li>Provides a look into system performance and status</li>
      <li>Allows easy management of users in groups</li>
      <li>Automates admin workflows</li>
    </ul>

    <h2>Client</h2>
    <h3>Michael Bardkoll</h3>

    <a href="www.github.com/mrbeussink/ovd" class="btn btn-info btn-lg btn-block">Check the repository on GitHub</a>
  </div>