<div class="container">
  <h1 id="team">Team</h1>
  <div class="cards">
    <div class="row">
        <div class="card text-white bg-primary mb-3">
            <img src="../assets/pics/mark.JPG" class="card-img-top" alt="Mark's portrait">
            <div class="card-body">
              <h5 class="card-title">Mark Beussink</h5>
              <h6 class="card-subtitle mb-2 text-muted">Full Stack Dev | Design Guru</h6>
              <p class="card-text">Mark is interested in full stack development as 
                well as iOS and has a blossoming interest in cryptography. He is 
                passionate about tackling problems with ingenious solutions and 
                producing products that have a meaningful impact on everday lives. 
                </p>
            </div>
            <div class="card-footer">
              <a href="mailto:mrbeussink@siu.edu" class="btn btn-primary">Email</a>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3">
              <img src="../assets/pics/ej-bio.JPG" class="card-img-top" alt="Edwards's portrait">
              <div class="card-body">
                <h5 class="card-title">EJ Byrne</h5>
                <h6 class="card-subtitle mb-2 text-muted">Full Stack Dev | Front End Guru</h6>
                <p class="card-text">Edward is fascinated with web and mobile dev 
                  with a side interest in data manipulation. When he isn't working 
                  on testing different programs, he can be found messing with his 
                  mini home lab breaking it more than not.</p>
                </div>
                <div class="card-footer">
                <a href="mailto:brynee@siu.edu" class="btn btn-primary">Email</a>
              </div>
            </div>
    </div>
    <div class="row">
      <div class="card text-white bg-primary mb-3">
          <img src="../assets/pics/andy.JPG" class="card-img-top" alt="Andrew's portrait">
          <div class="card-body">
            <h5 class="card-title">Andrew Cowden</h5>
            <h6 class="card-subtitle mb-2 text-muted">Back End Dev | Server Wizard</h6>
            <p class="card-text">Andrew has a love for technology and tackles every project with enthusiasm and pride.
               He thrives in back end dev but is eager to learn as much as he 
               can about full stack dev. He enjoys listening to music, hiking 
               in the great outdoors, and 3D printing.</p>
              </div>
              <div class="card-footer">
            <a href="mailto:am.cowden@gmail.com" class="btn btn-primary">Email</a>
          </div>
        </div>
        <div class="card text-white bg-primary mb-3">
            <img src="../assets/pics/justin.JPG" class="card-img-top" alt="Justin's portrait">
            <div class="card-body">
              <h5 class="card-title">Justin Sieling</h5>
              <h6 class="card-subtitle mb-2 text-muted">Team Lead | Full Stack Dev</h6>
              <p class="card-text">Justin is interested in computer security, 
                web dev, and software engineering. When not working on 
                schoolwork, projects, or work he can be found playing 
                racquetball or video games or snuggling with his cat.</p>
              </div>
              <div class="card-footer">
              <a href="mailto:jmsieling@siu.edu" class="btn btn-primary">Email</a>
            </div>
          </div>
          </div>

  </div>
</div>
